<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Recipes WebApp</h1>
    <h2>Welcome {{ user.get("name") }}!</h2>

    {% if config.get("ENDPOINT") %}
      <li><a href='{{ url_for("recipes.form") }}'>View search form</a></li>
    {% endif %}

    {% if config.get("B2C_PROFILE_AUTHORITY") %}
      <li><a href='{{_build_auth_url(authority=config["B2C_PROFILE_AUTHORITY"])}}'>Edit Profile</a></li>
    {% endif %}

    <li><a href='{{ url_for("oauth.logout") }}'>Logout</a></li>
    <p style="text-align: right"><a href='{{ url_for("recipes.update") }}'>Update</a></p>
    <hr>
    <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
</body>
</html>

